#div1{
    margin-top:10vmin;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#div2{
    height: 400px;
    width: 500px;
    border: 20px, solid rgb(94, 3, 3);
    border-radius: 50px;
    margin: 40px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin-left: 450px;
}

.btn1{
    height: 100px;
    width: 100px;
    margin-top:10vmin;
    justify-content: center;
    align-items: center;
    display: inline;
    color: white;
    font-size: medium;
    font-weight: 400; 
    box-shadow: 0 ,0, 1rem rgba(0, 0, 0, 0.6);
    gap: 5.5vmin;
    font-size: 30px;
    font-weight: 600;
    margin-left: 40px;
}

