#logo{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: black;
    font-weight: 900;
    text-align: center;
    color: white;
    padding: 5px;
    font-size: 25px;
    /* font-family: Arial, Helvetica, sans-serif; */
    display: inline-block;
    margin-right: 7px;
}
#home{
    margin-left: 800px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#about{
    margin-left: 50px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#bankai{
    margin-left: 80px;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
#contact{
    margin-left: 50px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    border-radius: 07px;
    height: 30px;
    width: 100px;
    background-color: black;
}
h3{
    display: inline-block;
    font-size: larger;
}
#navbar{
    /* margin-top: 20px; */
    /* margin-: 40px; */
    /* background-color: gray; */
    margin-left: 40px;
    margin-top: 80px;
}
#image{
    height: auto;
    width: 550px;
    transform: translate(180px,-90px);
}
#main-content{
    width: 600px;
    height: 800px;
}
#heading{
    font-size: 70px;
}
#rating-image{
    height: 150px;
    align-items: center;
    display: inline-block;
    margin-left: 04px;
}
p{
    margin-left: 30px;
    margin-right: 20px;
}
#body-page1{
    display: flex;
    align-items: center;
    justify-content: gap;
    margin-left: 30px;

}

#page2-heading{
    color: white;
    font-size: 50px;
    display: inline-block; 
}
#para-content{
    color: white;
    display: inline-block;
    margin-left: 320px;
    font-weight: 50;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#div1{
    height: 450px;
    width: 380px;
    background-color: white;
    margin-left: 20px;
    transform: translate(100px,50px);
    /* display: inline; */
    border-radius: 30px;
}
#div2{
    height: 450px;
    width: 380px;
    background-color: white;
    margin-left: 20px;
    transform: translate(500px,-450px); 
    border-radius: 30px;
}
#div3{
    height:450px;
    width: 380px;
    background-color: white;
    margin-left: 20px;
    transform: translate(900px,-950px);
    border-radius: 30px;
}

#navbar-page2{
    /* margin-top: 100px; */
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: rgba(14, 13, 13, 0.2);
    height: 150px;
    border-radius: 50px;
    transform: translate(0px,30px);
}
#page2-subheading1{
    font-size: 50px;
    font-weight: 900;
}
#page2-subheading2{
    font-size: 50px;
    font-weight: 900;
}
#page2-subheading3{
    font-size: 50px;
    font-weight: 900;
}
#page2-para{
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
#page2-para2{
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
}
#page2-para3{
    line-height: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
}
#footer{
    height: 600px;
    /* background-color: pink; */
    margin: 40px;
    margin-top: 50px;
}
#About-Us{
    margin: 40px;
    margin-top: 50px;
    background-color: white;
    width: 200px;
    height: 350px;
    /* align-items: center; */
    /* text-decoration: none; */
    transform: translate(400px,-280px);
    text-align: center;
}
#Pricing{
    margin: 40px;
    margin-top: 80px;
    background-color: white;
    width: 200px;
    height: 350px;
    transform: translate(660px,-710px);
    text-align: center;
}
#media{
    margin: 40px;
    background-color: white;
    width: 200px;
    height: 350px;
    transform: translate(910px,-1100px);
    text-align: center;
}
#contact1{
    margin: 40px;
    background-color: white;
    width: 200px;
    height: 350px;
    transform: translate(1150px,-1490px);
    text-align: center;
}
#Copyright{
    margin: 40px;
    background-color: white;
    width: 300px;
    height: 350px;
    transform: translate(40px,110px);
}